@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    
    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
    .loading-page {
        flex-direction: column; /* Stack image and content vertically */
        text-align: center;

    }

    .loading-logo {
        justify-content: center; /* Vertically center */
        align-items: center; /* Horizontally center */
    }
    .logo-name{
        font-size: 1rem;
    }
}

/* General mobile-first styles */
@media (max-width: 768px) {
    .nav-container .links {
        display: none; /* Hide navigation links on small screens */
    }

    .hamburg{
        display: block; /* Show the hamburger icon */
    }

    .dropdown {
        display: block; /* Show dropdown for mobile menu */
    }

    .main-container {
        flex-direction: column; /* Stack image and content vertically */
    }

    .main-container .image {
        width: 80%; /* Reduce image size on smaller screens */
    }

    .main-container .content {
        width: 100%; /* Full width content */
        text-align: center;
    }

    .social-links {
        justify-content: center; /* Center social links */
    }

    .about-images {
        flex-direction: column; /* Stack images vertically */
    }

    .about-img {
        width: 100%;
        height: auto;
    }
    .skill-item{
        width: 100%;
        height: auto;
    }
    .skill-item i {
        width: 100%;
        height: auto;
        font-size: 3rem;
    }

    .project-row {
        flex-direction: column; /* Stack projects vertically */
    }

    .project-card {
        width: 100%; /* Full width on mobile */
        margin-bottom: 1rem;
    }
    .project-image{
        width: 100%;
        height: auto;
    }
    .project-title{
        font-size: 1rem;
    }
    .project-description{
        font-size: 0.8rem;
    }
    .project-link{
        font-size: 0.8rem;
    }
    footer{
        display: block;
    }
    .loading-page {
        justify-content: center; /* Vertically center */
        align-items: center; /* Horizontally center */
    }
    .loading-logo{
        width: 100px;
    }
    .logo-name{
        font-size: 1rem;
    }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .nav-container {
        justify-content: space-between; /* Adjust alignment */
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .main-container .image {
        width: 100%;
        height: auto
    }

    .project-card {
        width: 100%;
        height: 100%;
    }
    
    .loading-page{
        justify-content: center; /* Vertically center */
        align-items: center; /* Horizontally center */
        
    }
}

/* Desktop styles */
@media (min-width: 1025px) {
    .nav-container .links {
        display: flex; /* Show navigation links */
    }

    .hamburg, .dropdown {
        display: none; /* Hide mobile elements */
    }

    .main-container {
        flex-direction: row; /* Side-by-side layout */
    }

    .main-container .image {
        width: 500px;
    }

    .project-row {
        flex-wrap: wrap; /* Wrap projects in rows */
    }

    .project-card {
        width: 40%; /* Three projects per row */
    }
}

