@media (max-width:884px) {
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links{
        display: none;
    }

    .hamburg,
    .cancel{
        display: block;
    }

    .main-container .content{
        width: 80%;
    }

    
    .main-container .image{
        z-index: -1;
        width: 50%;
        height: 60%;
    }
}



@media (min-width: 425px) and (max-width: 768px) {
    .nav-container .links {
        display: none; 
    }

    .hamburg{
        display: block; 
    }

    .dropdown {
        display: block;
    }

    .main-container {
        flex-direction: column; 
    }

    .main-container .image {
        width: 80%; 
    }

    .main-container .content {
        width: 100%; 
        text-align: center;
    }

    .social-links {
        justify-content: center; 
    }

    .about-images {
        flex-direction: column; 
    }

    .about-img {
        width: 100%;
        height: auto;
    }
    .skill-item{
        width: 100%;
        height: auto;
    }
    .skill-item i {
        width: 100%;
        height: auto;
        font-size: 3rem;
    }

    .project-row {
        flex-direction: column; 
    }

    .project-card {
        width: 100%; 
        margin-bottom: 1rem;
    }
    .project-image{
        width: 60%;
        height: auto;
    }
    .project-title{
        font-size: 1rem;
    }
    .project-description{
        font-size: 0.8rem;
    }
    .project-link{
        font-size: 0.8rem;
    }
    footer{
        display: block;
    }
    .loading-logo img {
        justify-content: center; 
        align-items: center; 
        width: 100px; 
    }

    .loading-name {
        justify-content: center; 
        align-items: center; 
        font-size: 1rem; 
    }
    #contact .section-container p { 
        font-size: 0.8rem;
    }
    footer p {
        font-size: 0.8rem;
    }
    .loading-page{
        justify-content: center; 
        align-items: center; 
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .nav-container {
        justify-content: space-between; 
    }
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .main-container .image {
        width: 60%;
        height: auto
    }

    .project-card {
        width: 100%;
        height: 100%;
    }
    
    .loading-page{
        justify-content: center; 
        align-items: center; 
        
    }
}


@media (min-width: 1025px) {
    .nav-container .links {
        display: flex; 
    }

    .hamburg, .dropdown {
        display: none; 
    }

    .main-container {
        flex-direction: row; 
    }

    .main-container .image {
        width: 500px;
    }
    .project-row {
        flex-wrap: wrap; 
    }

    .project-card {
        width: 40%; 
    }
}


@media (max-width: 425px) {
    .loading-page {
        height: 100vh; 
    }

    .loading-logo img {
        width: 100px; 
    }

    .loading-name {
        font-size: 1rem;
    }
    .nav-container .links {
        display: none; 
    }

    .hamburg{
        display: block; 
    }

    .dropdown {
        display: block; 
    }

    .main-container {
        flex-direction: column; 
    }

    .main-container .image {
        width: 80%; 
    }

    .main-container .content {
        width: 100%; 
        text-align: center;
    }

    .social-links {
        justify-content: center; 
    }

    .about-images {
        flex-direction: column; 
    }

    .about-img {
        width: 100%;
        height: auto;
    }
    .skill-item{
        width: 100%;
        height: auto;
    }
    .skill-item i {
        width: 100%;
        height: auto;
        font-size: 3rem;
    }

    .project-row {
        flex-direction: column; 
    }

    .project-card {
        width: 100%; 
        margin-bottom: 1rem;
    }
    .project-image{
        width: 100%;
        height: auto;
    }
    .project-title{
        font-size: 1rem;
    }
    .project-description{
        font-size: 0.8rem;
    }
    .project-link{
        font-size: 0.8rem;
    }
    footer{
        display: block;
    }
    #contact .section-container p { 
        font-size: 0.8rem;
        text-align: justify;
    }
    footer p {
        font-size: 0.8rem;
    }
   .skill-item h3 {
     font-size: 1rem;
   }
   .fa-brands,  
   .fa-solid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #project .section-container p {
    text-align: justify;
}
}